.git
.gitignore
.editorconfig
.DS_Store

vendor
node_modules
composer.phar

config/.env
public/media
public/assets/js/vendor/*.js

storage/uploads/products/*
storage/sessions/*

docker-compose.yml
Dockerfile
sql/
