.git
.gitignore
.editorconfig
.DS_Store

node_modules
vendor
tools

config/.env
config/.env.testing
public/media
public/assets/js/vendor/*.js

storage/uploads/products/*
storage/sessions/*
storage/cache/*
storage/logs/*

docker-compose.yml
Dockerfile
