.DS_Store
/config/.env
/config/.env.testing
/public/media
/tools/phpunit.phar
/.phpunit.cache
/.phpunit.result.cache

/storage/uploads/products/*
!/storage/uploads/products/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
